.quizdiv{
    height: auto;
    width: max-content;
    display: block;
}
.option{
    text-decoration: none;
}
.choosecourse{
    display: block;
}
.selected{
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    border: 1px;
    border-style: solid;
    border-color: rgb(18, 22, 77);
    color: black;
    background-color: cornflowerblue;
    display: inline-block;
}
.selected:hover{
    background-color: black;
    color: cornflowerblue;
}
#test1{
    
}